/**
全局样式
 */

.el-divider {
  border: none;
  margin: 0;
}

.el-page-header__left{
  .el-divider--vertical {
    margin: 0 3px;
  }
}
//上传框大小
.el-upload{
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

