@font-face {
  font-family: "iconfont"; /* Project id 3962679 */
  src: url('iconfont.woff2?t=1679232837867') format('woff2'),
       url('iconfont.woff?t=1679232837867') format('woff'),
       url('iconfont.ttf?t=1679232837867') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanyuwo:before {
  content: "\e600";
}

.icon-xiangce:before {
  content: "\e796";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-shouye:before {
  content: "\e630";
}

.icon-yonghu:before {
  content: "\e61e";
}

.icon-caozuorizhi:before {
  content: "\e65f";
}

.icon-gerenxinxi:before {
  content: "\e62c";
}

.icon-41shuoshuo:before {
  content: "\e658";
}

.icon-lianjie:before {
  content: "\e61f";
}

.icon-yonghu1:before {
  content: "\e60a";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-xiaoxi1:before {
  content: "\e641";
}

.icon-wenzhangfenlei:before {
  content: "\e633";
}

.icon-navicon-jsgl:before {
  content: "\e640";
}

.icon-navicon-wzgl:before {
  content: "\e661";
}

.icon-xiaoxi2:before {
  content: "\e63c";
}

.icon-mn_shouye:before {
  content: "\e601";
}

.icon-xiangji:before {
  content: "\e71d";
}

.icon-yonghuguanli:before {
  content: "\e70c";
}

.icon-wangzhan:before {
  content: "\e6f5";
}

.icon-_caidanguanli:before {
  content: "\e60c";
}

.icon-xiaoxi3:before {
  content: "\e6c0";
}

.icon-quanxianguanli:before {
  content: "\e605";
}

.icon-fuwuquanxianguanli:before {
  content: "\e664";
}

.icon-yonghuguanli1:before {
  content: "\e667";
}

.icon-xiangce1:before {
  content: "\e621";
}

.icon-biaoqian1:before {
  content: "\e824";
}

.icon-caidanguanli:before {
  content: "\e614";
}

.icon-UIicon_lianjie:before {
  content: "\e62d";
}

.icon-zhucewangzhan:before {
  content: "\e611";
}

.icon-fengche:before {
  content: "\e827";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-guanyuwomen:before {
  content: "\e610";
}

.icon-rizhiguanli:before {
  content: "\e645";
}

.icon-jiekouguanli:before {
  content: "\e7d4";
}

.icon-houtaiguanli-fabuwenzhang:before {
  content: "\e6d8";
}

.icon-yemianguanli:before {
  content: "\e62f";
}

.icon-shequ:before {
  content: "\e61c";
}

.icon-yonghuliebiao:before {
  content: "\e7f1";
}

.icon-rizhi:before {
  content: "\e617";
}

.icon-jiekouguanli1:before {
  content: "\e65a";
}

.icon-icon_rizhitongjifenxi:before {
  content: "\e631";
}

.icon-xitongguanli:before {
  content: "\e615";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-fenxiang:before {
  content: "\e620";
}

.icon-shuba:before {
  content: "\e624";
}

